* {
   box-sizing: border-box;
}

body {
   background-color: grey;
}

.container {
   width: 500px;
   margin: 0 auto;
}

.input {
   width: 100%;
   height: 60px;
   font-size: 40px;
}

.list {
   padding: 0;
   margin: 0;
   visibility: hidden;
   max-height: 200px;
   overflow: hidden;
}

.list-item {
   width: 100%;
   height: 40px;
   list-style: none;
   border: 1px solid black;
   font-size: 30px;
   background: lightgray;
}

.list-item-2 {
   width: 100%;
   height: 100px;
   list-style: none;
   border: 1px solid black;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.list-item:hover {
   background: lightseagreen;
}

.list2 {
   padding: 0;
   margin-top: 45px;
   width: 100%;
   min-height: 100px;
   font-size: 55px;
   background-color: #E27BEB;
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   color: maroon;
   font-size: 50px;
   width: 90px;
   height: 90px;
}
